.background {
      background-color: #181818;
}
.gradient-background {
      background: linear-gradient(90deg, #C78EFB, #FCD9B9);
}
.sidebar-background {
      background: radial-gradient(farthest-corner, #32014a, #19010F);
}
.fields-background {
      background: linear-gradient(90deg, #19010F, #1d012c);
}
.sidebar-heading {
      background: linear-gradient(90deg, #C78EFB, #FCD9B9);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
